<main class='l-main'>
	{% include '../sections/section-hero.twig' %}
	{% include '../sections/section-stories.twig' %}
	{% include '../sections/section-slides.twig' %}
	{% include '../sections/section-contact.twig' %}
</main>
