<footer class='l-footer'>
		<div class='t-content--footer'>
			<div>
				© 2015 ARKENEA. All rights reserved.
			</div>
			<div>
				Designer - Prashant Dwivedi | MADE WITH<span role='img' aria-label='Heart'>❤️</span>
				IN INDIA
			</div>
		</div>
</footer>
