<footer class="l-footer">
    <div class="l-inner">
        <div class="l-footer__content">
            <div class="l-footer__copyrights">
                © 2015 ARKENEA. All rights reserved.
            </div>
            <div class="l-footer__copyrights">
                Designer - Prashant Dwivedi | MADE WITH<span role="img" aria-label="Heart">❤️</span> IN INDIA
            </div>
        </div>
    </div>
</footer>
