.f-control-wrapper,
.f-control {
    position: relative;

    border: none;
    border-radius: 4px;
}

/* Default
   ========================================================================== */
.f-control--default {
    padding: 1.5rem;

    font-size: 1.6rem;

    border: 1px solid $color_gray;
    border-radius: 0.4rem;

    color: $color_gray;
    background: $color_white;

    &::placeholder {
        color: $color_gray;
    }

    &:focus-within,
    &:focus {
        border-color: $color_black;
    }
}

/* Text
========================================================================== */
.f-control--text {
    height: 50px;
    width: 180px;

    margin-right: 20px;
    padding: 1rem;

    background: $color_input-bg;
    color: $color_black_stories;

    &::placeholder {
        font-family: inherit;
        font-size: $font_size_placeholder;
        font-weight: $font_light;
    }

    &--hero {
        width: 280px;
    }
}

.f-control--textarea {
    @extend .f-control--text;

    height: 130px;
    width: 385px;
    max-width: 100%;

    &::placeholder {
        padding: 1rem 0;
    }
}