/* Warning displayed when input not valid
========================================================================== */
.f-validation-message {
    position: absolute;
    top: 5px;
    left: 5px;

    margin: 0;

    color: $color_button_bg;

    font-size: $font_size_placeholder;
    font-weight: $font_regular;
}
/*
========================================================================== */

.parsley-error {
    border-color: $color_red;
}

.f-control--checkbox.parsley-error {
    background: none;
    color: $color_red;
}

.parsley-errors-list {
    @extend %helper-reset-list;

    font-size: 1.7rem;

    line-height: 1;

    text-transform: uppercase;

    color: $color_red;

    @include media("<=l") {
        font-size: 1.4rem;
    }
}