
/* Base
   ========================================================================== */
html {
    font-size: $font_size_m;

    @include media(">m") {
        font-size: $font_size_t;
    }

    @include media(">t") {
        font-size: $font_size_l;
    }
}

body {
    min-width: 320px;

    font-family: $font_normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;

    color: $color_black;

    display: flex;
}

/* Global Typography
   ========================================================================== */

a {
    text-decoration: none;

    transition: color $transition_speed ease-in-out;

    &:hover {
        color: $color_button_bg;
        text-decoration: none;
    }
}

li {
    list-style: none;
}
