.l-header {
    position: fixed;
    top: 0;
    z-index: 100;

    display: flex;
    align-items: flex-end;

    height: 150px;
    width: 100%;

    background: transparent;

    transition: transform $transition_speed ease-in-out,
        background $transition_speed ease-in-out;

    &.full-screen {
        height: 100vh;
        width: 100vw;
        padding: 20px;
        background: $color_black_stories;
    }
}

.l-header__navbar {
    width: 100%;
    max-width: $size_inner;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-header.full-screen .l-header__navbar {
    height: 100%;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
}

.c-logo__svg {
    fill: $color_text;
    transition: fill $transition_speed ease-in-out;

    &:hover {
        cursor: pointer;
        fill: $color_button_bg;
    }
}

.l-header.is-scrolled {
    transform: translateY(-75px);

    background: $color_text;

    .c-logo__svg {
        fill: $color_black_stories;
        &:hover {
            fill: $color_button_bg;
        }
    }

    .c-nav__label {
        color: $color_black_stories;
        &:hover {
            color: $color_button_bg;
        }
    }
}
