.l-slides {
    width: 100%;
    min-height: 400px;

    padding: 130px 0 40px;

    background-color: $color_black;
    background-image: url('/static/img/slides-bg.jpg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-size: cover;

    @include media('>t-m') {
        background-image: url('/static/img/slides-bg@2x.jpg');
    }
}