.l-slides {
    min-height: 400px;
    width: 100%;

    padding: 130px 0 40px;

    background: $color_black_stories url('/static/img/slides-bg.jpg') no-repeat 50% 50%;
    background-size: cover;

    @include media('>t-m') {
        background-image: url('/static/img/slides-bg@2x.jpg');
    }
}