.l-stories {
    width: 100%;

    padding: 80px 0;

    background: $color_white_stories;
}

.l-stories__divider {
    height: 2px;
    width: 67px;

    margin: 50px 0;

    border-radius: 1px;

    background-color: $color_black_stories;
    opacity: 50%;
}