.l-hero {
    width: 100%;
    min-height: 100vh;

    padding: 345px 0 120px;

    background: $color_black_stories url('../img/hero-image.jpg') no-repeat 50% 50%;
    background-size: cover;

    @include media('>t-m') {
        background-image: url('../img/hero-image@2x.jpg');
    }
}
