.c-nav {
    height: 60px;

    display: flex;
    align-items: center;
}

.c-nav__list {
    margin: 0;
    padding: 0;

    display: flex;

    @include media('<850px') {
        display: none;
    }
}

.c-nav__item {
    margin-left: 1rem;
}

.c-nav__label {
    color: $color_text;

    font-size: $font_size_regular;
    font-weight: $font_regular;

    text-transform: uppercase;

    &:hover {
        color: $color_button_bg;
    }
}

/* Styles applied when hamburger menu is opened
========================================================================== */

.l-header.is-expanded {
    .c-nav {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;

        .c-nav__list {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .c-nav__item {
            margin: 1rem 0;
        }
    }
}
