.c-slides__item {
    text-align: center;
    color: $color_text;
    font-size: $font_size_hero !important;
    font-weight: $font_light;
}

.c-slides__text--author__desc {
    font-weight: $font_regular;
}

.c-slides__controls {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.c-slides__pagination {
    appearance: none;

    width: 10px;
    height: 10px;
    margin: 10px;

    border: none;
    border-radius: 50%;

    background-color: $color_slide_pagination;
    opacity: 50%;

    cursor: pointer;
}
