
/* Head
   ========================================================================== */
.t-head {
    @extend %helper-clear-margins;

    margin: 0;

    text-transform: uppercase;

    line-height: 1;
}

.t-head--main {
    font-size: $font_size_heading--main;
    font-weight: $font_bold;

    color: $color_text;

    @include media("<m-t") {
        font-size: $font_size_heading--contact;
    }
}

.t-head--stories {
    font-size: $font_size_heading--stories;
    font-weight: $font_semi-bold;
    color: $color_black_stories;
}

.t-head--contact {
    font-size: $font_size_heading--contact;
    font-weight: $font_bold;

    color: $color_contact_header;

    text-align: center;
    margin-bottom: 70px;
}

.t-head--contact-subhead {
    font-size: $font_size_hero;
    font-weight: $font_regular;

    color: $color_contact_subheader;
    margin-bottom: 20px;
}
