
/* Head
   ========================================================================== */
.t-head {
    @extend %helper-clear-margins;

    margin: 0;

    text-transform: uppercase;

    line-height: 1;
}

.t-head--main {
    font-size: $font_size_heading--main;
    font-weight: $font_bold;

    color: $color_text;

    @include media("<m-t") {
        font-size: $font_size_heading--contact;
    }
}

.t-head--stories {
    font-size: $font_size_heading--stories;
    font-weight: $font_semi-bold;

    color: $color_black_stories;

    @include media("<m-t") {
        font-size: $font_size_heading--contact;
    }
}
