
/* Head
   ========================================================================== */
.t-head {
    @extend %helper-clear-margins;

    margin: 0;

    text-transform: uppercase;

    line-height: 1;
}

/* Hero Section
========================================================================== */

.t-head--main {
    color: $color_text;

    font-size: $font_size_heading--main;
    font-weight: $font_bold;

    @include media("<m-t") {
        font-size: $font_size_heading--contact;
    }
}

/* Stories Section
========================================================================== */
.t-head--stories {
    color: $color_black_stories;

    font-size: $font_size_heading--stories;
    font-weight: $font_semi-bold;
}

/* Contact Section
========================================================================== */
.t-head--contact {
    margin-bottom: 70px;

    color: $color_contact_header;

    font-size: $font_size_heading--contact;
    font-weight: $font_bold;

    text-align: center;
}

.t-head--contact-subhead {
    margin-bottom: 20px;

    color: $color_contact_subheader;

    font-size: $font_size_hero;
    font-weight: $font_regular;
}
