<div class="l-slides">
	<div class="l-inner">

		<div class="c-slides__list">
			<div class="c-slides__item">
				<blockquote class="c-slides-content">
					<p class="c-slides__text">
						“Arkenea thinks outside the box and offer solutions through the creative process of developing apps.
																			They care about their customers.”
					</p>
					<footer>
						<p class="c-slides__text--author">
							<span class="c-slides__text--author__desc">
								Hypnotherapist and Best Selling Author
							</span>
							<br>
							- GLENN HARROLD
						</p>
					</footer>
				</blockquote>
			</div>
			<div class="c-slides__item">
				<blockquote class="c-slides-content">
					<p class="c-slides__text">
						“Arkenea thinks outside the box and offer solutions through the creative process of developing apps.
																			They care about their customers.”
					</p>
					<footer>
						<p class="c-slides__text--author">
							<span class="c-slides__text--author__desc">
								Hypnotherapist and Best Selling Author
							</span>
							<br>
							- GLENN HARROLD
						</p>
					</footer>
				</blockquote>
			</div>
			<div class="c-slides__item">
				<blockquote class="c-slides-content">
					<p class="c-slides__text">
						“Arkenea thinks outside the box and offer solutions through the creative process of developing apps.
																			They care about their customers.”
					</p>
					<footer>
						<p class="c-slides__text--author">
							<span class="c-slides__text--author__desc">
								Hypnotherapist and Best Selling Author
							</span>
							<br>
							- GLENN HARROLD
						</p>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="c-slides__controls">
			<button class="c-slides__pagination"></button>
			<button class="c-slides__pagination"></button>
			<button class="c-slides__pagination"></button>
		</div>

	</div>
</div>
