<section class="l-sec-hero l-hero">
	<div class="l-inner">
		<div class="l-hero__content">
			<h1 class="t-head t-head--main l-hero__title">
				technical cofounders<br>to your mobile &<br>web startup
			</h1>
			<div class="t-content t-content--hero l-hero__text">
				<p>
					To build a successful app, you need a smart product strategy, engaging UX, killer designs, and a talented mobile development team.
				</p>
				<p>
					<span>GOOD NEWS
					</span>
					- You've come to the right place.
				</p>
			</div>
			<form class="f-form f-form--quote">
				<div class="f-field">
					<input type="email" aria-label="E-Mail Address" class="f-control" placeholder="*Your Email Address" required>
				</div>
                <div class="f-actions">
                    <button type="submit" aria-label="Request a Quote" class="c-btn">
                        Request a Quote
                    </button>
                </div>
			</form>
		</div>
	</div>
</section>
