<section class="l-sec-stories l-stories">
	<div class="l-inner">
		<div class="l-stories__content">
			<h2 class="t-head t-head--stories l-stories__title">
				our success stories
			</h2>
            <div class="l-stories__divider"></div>
            <ul class="c-stories__list">
                <li class="c-stories__item">
                    <div class="c-stories__img"></div>
                    <div class="t-content">
                        <p class="c-stories__text">
                            Sleep Easily downloaded over 400,000 times – generating consistent revenues.
                        </p>
                        <a href="/" class="c-stories__link">Continue reading...</a>
                    </div>
                </li>
                <li class="c-stories__item">
                    <div class="c-stories__img"></div>
                    <div class="t-content">
                        <p class="c-stories__text">
                            Canvsly featured on TechCrunch and winner of the Kiip Build Fund 2013 and Mom’s Choice Awards.
                        </p>
                        <a href="/" class="c-stories__link">Continue reading...</a>
                    </div>
                </li>
                <li class="c-stories__item">
                    <div class="c-stories__img"></div>
                    <div class="t-content">
                        <p class="c-stories__text">
                            Glenn Harrold, celebrity hypnotherapist, crosses 2 million downloads for his apps.
                        </p>
                        <a href="/" class="c-stories__link">Continue reading...</a>
                    </div>
                </li>
            </ul>
		</div>
	</div>
</section>
