<div class="l-sec-slides l-slides">
	<div class="l-inner">

		<div class="c-slides__list">
			<div class="c-slides__item">
				<blockquote class="c-slides-content t-content">
					<p class="l-slides__text">
						“Arkenea thinks outside the box and offer solutions through the creative process of developing apps.
													They care about their customers.”
					</p>
					<footer>
						<p class="l-slides__text--author">
							Hypnotherapist and Best Selling Author
							<br>
							<span class="l-slides__text--author__name">
								- GLENN HARROLD
							</span>
						</p>
					</footer>
				</blockquote>
			</div>
			<div class="c-slides__item">
				<blockquote class="c-slides-content t-content">
					<p class="l-slides__text">
						“Arkenea thinks outside the box and offer solutions through the creative process of developing apps.
													They care about their customers.”
					</p>
					<footer>
						<p class="l-slides__text--author">
							Hypnotherapist and Best Selling Author
							<br>
							<span class="l-slides__text--author__name">
								- GLENN HARROLD
							</span>
						</p>
					</footer>
				</blockquote>
			</div>
			<div class="c-slides__item">
				<blockquote class="c-slides-content t-content">
					<p class="l-slides__text">
						“Arkenea thinks outside the box and offer solutions through the creative process of developing apps.
													They care about their customers.”
					</p>
					<footer>
						<p class="l-slides__text--author">
							Hypnotherapist and Best Selling Author
							<br>
							<span class="l-slides__text--author__name">
								- GLENN HARROLD
							</span>
						</p>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="c-slides__controls">
			<button class="c-slides__control-dot"></button>
			<button class="c-slides__control-dot"></button>
			<button class="c-slides__control-dot"></button>
		</div>

	</div>
</div>
