<section class='l-contact'>
	<div class='l-inner'>
		<h2 class='t-head t-head--contact'>
			tell us about your requirement
		</h2>

		<div class='l-contact__content'>
			<form class='f-form f-form--contact js-form--contact' novalidate>
				<h3 class='t-head t-head--contact-subhead js-contact-header'>
					contact us
				</h3>
				<div class='f-field'>
					<input type='text' name='name' aria-label='Name' class='f-control f-control--text' placeholder='*Name' required>
					<p class='f-validation-message'></p>
				</div>
				<div class='f-field'>
					<input type='email' name='e-mail' aria-label='E-Mail Address' class='f-control f-control--text' placeholder='*Your Email Address' required>
					<p class='f-validation-message'></p>
				</div>
				<div class='f-field f-field--textarea'>
					<textarea cols='2' rows='2' name='message' aria-label='Message' class='f-control f-control--textarea' placeholder='*Your Message' required></textarea>
					<p class='f-validation-message'></p>
				</div>
				<div class='f-actions'>
					<button type='submit' aria-label='Submit Message' class='c-btn'>
						Submit
					</button>
				</div>
			</form>

			<div class='l-contact__info'>
				<h3 class='t-head t-head--contact-subhead'>
					address
				</h3>
				<address class='l-contact__info__content'>
					ARKENEA LLC 47 S 2ND ST #152,<br>
					SAN JOSE, CA 95113, USA.
				</address>

				<h3 class='t-head t-head--contact-subhead'>
					phone
				</h3>
				<p class='l-contact__info__content'>
					<a href='tel:+4283501761'>(428) 350-1761</a>
				</p>

				<h3 class='t-head t-head--contact-subhead'>
					email
				</h3>
				<p class='l-contact__info__content'>
					<a href='mailto:contact@arkenea.com'>contact@arkenea.com</a>
				</p>
			</div>
		</div>
	</div>
</section>
